$primary: #1fb854;
$secondary: #1eb88e;
$accent: #1fb8ab;
$neutral: #19362d;
$base100: #1b1717;
$base200: #161212;
$base300: #110d0d;
$basecontent: #cac9c9;

$info: #00b5ff;
$success: #00a96e;
$warning: #ffbe00;
$error: #ff5861;

:root {
  font-family: JetBrainsMono Nerd Font;
}

button {
  all: initial;

  font-family: inherit;

  label {
    transition:
      border 0.35s,
      background 0.35s,
      color 0.35s;
    background: $base100;
  }

  label:hover {
    background: $primary;
    color: $base300;
    // border: 3px solid $primary;
  }
}

label {
  all: initial;

  font-family: inherit;
  font-size: 14px;
  color: $basecontent;
  padding: 0 12px;
  // background: $base200;
  border-radius: 8px;
}

popover > contents {
  all: initial;

  padding: 4px 12px;
  border-radius: 8px;
  border: 4px solid $base200;
  background: rgba($color: $base100, $alpha: 0.98);
}

.no-styles {
  all: initial;

  color: $primary;
}

.active {
  label {
    background: $secondary;
    color: $base300;
  }
}

.Arch {
  -gtk-icon-size: 22px;
  padding: 0 6px;
}

.Pywal {
  label {
    font-size: 16px;
    padding: 4px 16px 4px 10px;
  }
}

.SwayNC {
  label {
    font-size: 16px;
    padding: 0 12px;
  }
}

.Tray {
  margin: 0 4px;

  arrow {
    all: initial;
  }
}

.Tray > * {
  margin: 0 6px;

  image {
    -gtk-icon-size: 20px;
  }
}

.Workspaces {
  // background: $base300;
  // border-radius: 8px;

  > * {
    margin: 0 2px;
  }
}

.WirePlumberMenu {
  arrow {
    all: initial;
  }

  button {
    margin: 4px 0;
  }
}

.CalendarMenu {
  contents {
    button {
      margin: 4px;
      padding: 4px;
      border-radius: 8px;
      background: $base200;
      transition:
        border 0.5s,
        background 0.5s;

      &:hover {
        color: $base300;
        background: $primary;
      }
    }

    label {
      margin: 4px;
    }

    .today {
      border: 3px solid $primary;
    }

    .other-month {
      color: $accent;
      transition: border 0.5s;

      &:hover {
        border: 3px solid $secondary;
      }
    }
  }

  arrow {
    all: initial;
  }
}

window.Bar {
  background: transparent;
  padding: 4px;

  > centerbox {
    border-radius: 8px;

    background-color: $base300;
    // background: rgba($color: $base300, $alpha: 0.75);
    // border-bottom: 4px solid $base200;

    > box {
      margin: 5px 2px;
      & > * {
        margin: 0 3px;
      }
    }
  }
}
