$crust: #181926;
$mantle: #1e2030;
$base: #24273a;

$surface0: #363a4f;
$surface1: #494d64;
$surface2: #5b6078;

$rosewater: #f4dbd6;
$flamingo: #dd7878;
$pink: #ea76cb;
$mauve: #8839ef;

:root {
  font-family: JetBrainsMono Nerd Font;
}

button {
  all: initial;

  font-family: inherit;

  label {
    transition:
      border 0.5s,
      background 0.5s;
    background: $mantle;
  }

  label:hover {
    background: $crust;
    border: 3px solid $rosewater;
  }
}

label {
  all: initial;

  font-family: inherit;
  color: $rosewater;
  padding: 2px 12px;
  background: $crust;
  border: 3px solid $crust;
  border-radius: 8px;
}

popover > contents {
  all: initial;

  padding: 4px 12px;
  border-radius: 8px;
  border: 4px solid $crust;
  background: rgba($color: $base, $alpha: 0.75);
}

.no-styles {
  all: initial;

  color: $rosewater;
}

.active {
  label {
    background: $crust;
  }
}

.Arch {
  -gtk-icon-size: 24px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 3px solid $crust;
  background: $mantle;
  transition:
    border 0.5s,
    background 0.5s;

  &:hover {
    background: $crust;
    border: 3px solid $rosewater;
  }
}

.Pywal {
  label {
    font-size: 18px;
    padding: 6px 16px 6px 10px;
  }
}

.SwayNC {
  label {
    padding: 0 12px;
  }
}

.Tray {
  margin: 0 4px;
}

.Tray > * {
  margin: 0 6px;

  image {
    -gtk-icon-size: 20px;
  }
}

.Workspaces {
  background: $mantle;
  border-radius: 8px;
  border: 4px solid $crust;

  > * {
    margin: 2px;
  }
}

.WirePlumberMenu {
  arrow {
    all: initial;
  }

  button {
    margin: 4px 0;
  }
}

.CalendarMenu {
  contents {
    button {
      margin: 4px;
      padding: 4px;
      border-radius: 8px;
      background: $crust;
      transition:
        border 0.5s,
        background 0.5s;

      &:hover {
        color: $crust;
        background: $rosewater;
      }
    }

    label {
      margin: 4px;
    }

    .today {
      border: 3px solid $rosewater;
    }

    .other-month {
      color: $surface0;
      transition: border 0.5s;

      &:hover {
        border: 3px solid $rosewater;
      }
    }
  }

  arrow {
    all: initial;
  }
}

window.Bar {
  background: transparent;

  > centerbox {
    background: rgba($color: $base, $alpha: 0.75);
    border-bottom: 4px solid $crust;

    > box {
      margin: 6px;
      & > * {
        margin: 0 4px;
      }
    }
  }
}
